<div class="center hero-unit">
  <h1>Welcome to Goalify.com!</h1>

  <h2>
    This is the beta site for 
    <a href="#">Goalify</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
